@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    min-width: 375px;
    font-size: 14px;
    font-family: Inter;
    margin: auto;
}

.bar{
    background-color: hsl(225, 100%, 98%);
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: -1;
    margin: 0;
    border-radius: 0 0 10px 10px;
    padding: 0px;
    max-width: 1440px;
    min-width: 375px;
}

.container {
    display: grid;
    grid-template-areas: 
    "grid-area-1 grid-area-1 grid-area-1 grid-area-theme"
    "grid-area-2 grid-area-3 grid-area-4 grid-area-5"
    "grid-area-6 grid-area-6 grid-area-6 grid-area-6"
    "grid-area-7 grid-area-8 grid-area-9 grid-area-10"
    "grid-area-11 grid-area-12 grid-area-13 grid-area-14"
    ;
    grid-template-columns: repeat(4, 1fr);
    gap:30px 15px;
    padding: 5% 13%;
}


.grid-area{
    background-color: hsl(227, 47%, 96%); 
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
    border-radius: 5px;
}

.grid-area:hover{
    background-color: hsl(227, 47%, 90%);
}

.grid-area-1{
    grid-area: grid-area-1;
}

.grid-area-theme{
    width: 100%;
    grid-area: grid-area-theme;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(228, 12%, 44%);  
}

.theme-switch{
    width: 60px;
    background-color: hsl(230, 22%, 74%);
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 6px;
    cursor: pointer;
}

.theme-switch:hover{
    background-image: linear-gradient(40deg, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}

.switcher {
    height: 22px;
    width: 22px;
    border-radius: 100%;
    background-color: white;
}

.grid-area-2{
    grid-area: grid-area-2;
    border-top: 3px solid hsl(208, 92%, 53%);
}

.grid-area-3{
    grid-area: grid-area-3;
    border-top: 3px solid hsl(203, 89%, 53%);
}

.grid-area-4{
    grid-area: grid-area-4;
    background-image: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
    background-position:top;
    background-size:100% 3px;
    background-repeat:no-repeat;
}


.grid-area-5{
    grid-area: grid-area-5;
    border-top: 3px solid hsl(348, 97%, 39%);
} 

.grid-area-6{
    grid-area: grid-area-6;
     color: hsl(228, 12%, 44%);
}

.grid-area-7{
    grid-area: grid-area-7;
}

.grid-area-8{
    grid-area: grid-area-8;
}

.grid-area-9{
    grid-area: grid-area-9;
}

.grid-area-10{
    grid-area: grid-area-10;
}

.grid-area-11{
    grid-area: grid-area-11;
}

.grid-area-12{
    grid-area: grid-area-12;
}

.grid-area-13{
    grid-area: grid-area-13;
}

.grid-area-14{
    grid-area: grid-area-14;
}

.user-name-holder{
    display: flex;
    justify-content:center;
    gap: 5px;
    margin-bottom: 10px;
}

.text-style{
    font-weight: 700;
    color: hsl(228, 12%, 44%);
}

.quality{
    font-size: 48px;
    font-weight: 700;
}

.fallowers-title {
    margin-bottom:  20px;
    text-transform:uppercase;
    letter-spacing: 5px;
    color: hsl(228, 12%, 44%);
}

.up ,.down {
    display: inline-flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.up img, .down img {
    height: 100%;
}

.up{
    color: hsl(163, 72%, 41%);
}

.down{
    color: hsl(356, 69%, 56%);
}

.holder {
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;

}

.holder img {
    height: auto;
}

.variability {
    font-size: 25px;
    font-weight: 700;
}


.dark_theme {
    background-color: hsl(230, 17%, 14%);
}

.dark_theme .bar {
    background-color: hsl(232, 19%, 15%);
}

.dark_theme .container{
    color: hsl(0, 0%, 100%);

}

.dark_theme .theme-switch{
    justify-content: start;
    background-image: linear-gradient(40deg, hsl(210, 78%, 56%) , hsl(146, 68%, 55%));
}

.dark_theme .switcher{
    background-color: hsl(232, 19%, 15%);
}


.dark_theme .grid-area{
    background-color: hsl(228, 28%, 20%);
}

.dark_theme .grid-area-6{
    color: hsl(0, 0%, 100%);
}

.dark_theme .grid-area:hover{
    background-color: hsl(228, 28%, 25%)
}


@media screen and (max-width:980px) {
    .container {
        display: block;
    }
    
    .grid-area{
        margin: 20px ;
    }

    .grid-area-theme{
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid hsl(228, 12%, 44%);
    }
}